{% extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block body %}
<div class="container">
    {% if error %}
    <div class="alert alert-danger mt-4">
        {{ error.messageKey | trans(error.messagedata, 'security') }}
    </div>
    {% endif %}
    <section id="testimonial">
        <div class="testimonial">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="footer-top-inner">
                        <h2 class="title center">Login</h2>
                        <div class="contact">
                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <div class="blog-post">
                                        <div class="card">
                                            <div class="contact-form">
                                                <form action="{{ path('login')}}" method='post'>
                                                    <div class="input-field">
                                                        <input type="text" class="input-box" type="text" id="username"
                                                            name="_username" class="form-control"
                                                            value="{{ last_username }}" required>
                                                        <label class="input-label" for="username">User Name</label>
                                                    </div>
                                                    <div class="input-field">
                                                        <input type="password" id="password" name="_password"
                                                            class="input-box">
                                                        <label class="input-label" type="password" id="password"
                                                            name="_password">Mot de
                                                            passe</label>
                                                    </div>
                                                    <button class="left waves-effect btn-flat brand-text submit-btn"
                                                        type="submit">Se connecter</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m6 l6">
                                    <div class="blog-content-bottom">
                                        <div class="col s12 m6 l6">
                                            <div class="share-area">
                                                <h4>
                                                    <i class="fa fa-share-alt"></i>
                                                    Social
                                                </h4>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}