{% extends 'base.html.twig' %}


{% block body %}
{% include 'pages/_header.html.twig' %}
<div class="main-wrapper">
    <main role="main">
        <!-- START HOME SECTION -->
        <section id="home">
            <div class="overlay-section">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <div class="home-inner">
                                <h1 class="home-title">med <span>Agence Immobilière</span></h1>
                                <p>Vente / Location / Syndic</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>




</div>


{% include 'department/_rechercheCity.html.twig' %}
{% endblock %}